<input type="email" placeholder="Email" [(ngModel)]="email" />
<input type="password" placeholder="Password" [(ngModel)]="password" />

<input
  type="button"
  value="register"
  (click)="registerWithEmailAndPassword()"
/>
<input type="button" value="login" (click)="loginWithEmailAndPassword()" />

<input type="button" value="login with google" (click)="loginWithGoogle()" />

<input type="button" value="logout" (click)="logout()" />

<ng-template [ngIf]="!!(auth.authState | async)">
  <div>
    <input
      type="text"
      placeholder="Enter Customer Name"
      [(ngModel)]="customer"
    />
    <input type="text" placeholder="Location" [(ngModel)]="location" />
    <input type="date" [(ngModel)]="date" />
    <input type="time" [(ngModel)]="time" />
    <input type="text" placeholder="Enter Job Type" [(ngModel)]="jobType" />
    <input type="button" value="confirm" (click)="createJob()" />
  </div>

  <div>
    <input type="text" placeholder="Enter Payment" [(ngModel)]="payment" />
    <div *ngFor="let job of jobs | async">
      <span>{{ job.data.customer }},
            {{ job.data.location }}, 
            {{ job.data.date }},
            {{ job.data.time }},
            {{ job.data.jobType }},
            {{ job.data.payment }}
      </span>
      <input
        type="button"
        value="confirm payment"
        (click)="confirmPayment(job.id)"
      />
      <input type="button" value="x" (click)="deleteJob(job.id)" />
    </div>
  </div>
</ng-template>
